{% extends 'layout.html' %}

{% load static %}
<link rel="stylesheet" href="{% static 'index/home.css' %};" type = "text/css">

{% block content %}

<div style="margin-top: 20px">
    <h1 style="padding-left : 40px;">ABOUT</h1>
    <h2 style="padding-left : 40px;">Group Name: Sukejuru</h2>
    <p style="padding-left : 40px;">
        about this project <br></br>
        - This project is made for subject CN331. This project we made a website that can link to all source of an anime and update anime premiere calendar.
        This website is made for poeple who love to watch anime alot and want a website to store all path of anime because sometime some company amy not include 
        some of anime that you want to watch so it can link to it immediately.<br></br>
        This project is inspired by <a href="https://www.hareshi.net">hareshi.net</a>
    </p>
    <p style="padding-left : 40px;">Group Member
        <ul style="padding-left : 40px;">1. Jirawat Muksuwan 6310611097<br/><br/>
        2. Bulakorn Junboonmee 6310682577<br/><br/>
        3. Khomchan Sasanatayat 6310682684<br/><br/>
        4. Krittakorn Chairattanarom 6310682692<br/><br/>
        5. Non Angsuvapattanakul 6310682700<br/><br/>
        </ul>
    </p>

    <p style="padding-left : 40px;">
        <a href="https://www.pivotaltracker.com/n/projects/2609659">Pivotal Tracker</a>
    </p>
    <div >
    <p style="padding-left : 40px;">
        <a href="https://github.com/6310682700/sukejuru">Github Repository</a>
    </p>
</div>

{% endblock %}